<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>

<script defer src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function(){
      const swiper = new Swiper('.swiper', {
        direction: 'horizontal',
        loop: true,
        speed: 2000,
        pagination: {
          el: '.ssSlide__pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.ssSlide__next',
          prevEl: '.ssSlide__prev',
        },
        autoplay: false,
      //   autoplay: {
      //   delay: 3000,
      //   disableOnInteraction: false
      // },
    });
  })
</script>


{% style %}

.ssSection-{{ section.id }}{
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
}

.ssSlide__lists {
  width: 100%;
  list-style:none;
  padding:0;
  margin:0;
  z-index: 2;
}

.ssSlide__list{
  position: relative;
  padding:0;
  margin:0;
  display: block;
  width: 100%;
  padding-top: 55.15625%;
}

.ssSlide__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.ssSlide__list::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
  background: {{ section.settings.overlay-color }};
  opacity: {{ section.settings.overlay }};
}

.ssSlide__link{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.ssSlide__title{
  position: absolute;
  display: inline-block;
  top: 6.4vw;
  right: 4vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  z-index: 6;
}

.ssSlide__title p {
  margin:0;
  padding:0;
  font-weight: 300;
  line-height: 120%;
  display: inline-block;
  font-style: normal;
  color: #FEFFFF;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  
}

.ssSlide__mainTitle{
  padding-right: 8px;
  letter-spacing: 0.6rem;
  color: #FEFFFF;
  font-size: max(3.2vw, 10px);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.ssSlide__subTitle{
  letter-spacing: 0.4rem;
  color: #FEFFFF;
  font-size: 2.666vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.ssSlide__label{
  margin: 0;
  padding: 0;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  display: inline-block;
  position: absolute;
  padding: 8px 16px;
  bottom: 0;
  left: 0;
  z-index:6;
  color: #FEFFFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 13.2px */
  letter-spacing: 0.128vw;
  background: #6B5D58;
  -webkit-box-shadow: 1px 0px 0px 0px #FFF;
          box-shadow: 1px 0px 0px 0px #FFF;
}



.ssSlide__title{
  top: 6.4vw;
  right: 4vw;
  position: absolute;
  z-index: 6;
  display: inline-block;
  writing-mode: vertical-rl;
  
}

.ssSlide__mainTitle{
  display: flex;
  flex-direction: column;
  font-size: max(3.2vw, 10px);
  padding-right: 8px;
  letter-spacing: 0.6rem;
  color: #FEFFFF;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.ssSlide__subTitle{
  display: inline-block;
  letter-spacing: 0.4rem;
  color: #FEFFFF;
  font-size: 2.666vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  
}

.ssSlide__swipernav {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 15px;
  width: initial;
  height: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.ssSlide__pagination{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.ssSlide__pagination span{
  background-color: #BABFC5;
  opacity: 1;
  margin: 0;
}

.ssSlide__prev, .ssSlide__next {
    cursor: pointer;
}

.ssSlide__pagination span.swiper-pagination-bullet-active{
  background-color: #FEFFFF;
}

@media screen and (min-width: 750px) {

  .ssSlide__title{
    top: 5vw;
    right: 7.03125vw;
  }

  .ssSlide__mainTitle{
    font-size: min(3.125vw, 40px);
    letter-spacing: 0.8rem;
  }

  .ssSlide__subTitle{
    font-size: min(1.4062vw, 18px);
    letter-spacing: 0.5rem;
  }

  .ssSlide__pagination{
    padding-right: 4px;
    padding-left: 4px;
  }

  .ssSlide__swipernav {
    right: 7.03125vw;
    bottom: 1.875vw;
  }

  .ssSlide__prev, .ssSlide__next {
    display: block!important;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url("https://cdn.shopify.com/s/files/1/0841/4478/3666/files/arrow3.svg?v=1698042566");
    background-size: contain;
    background-position: center;
  }

  .ssSlide__next{
    -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
            transform: scale(-1, 1)
  }

  .ssSlide__label{
    font-size: 16px;
    left: 7.03125vw;
    padding: 16px 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
    letter-spacing: 0.64px;
  }

  .page-width--ssSlide {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
  }
}



{% endstyle %}



<section class="ssSection-{{ section.id }}">
  <div class="page-width--ssSlide">
    <div class="swiper">
      <ul class="ssSlide__lists swiper-wrapper">


      {%- for block in section.blocks -%}
        <li class="ssSlide__list swiper-slide">
            <a href="{{ block.settings.url }}" class="ssSlide__link">
              <div class="ssSlide__list">
                <picture class="ssSlide__image">
                    <source srcset="{{ block.settings.banner_pc | image_url: width: 2000 }}" media="(min-width: 1126px)" alt="{{ block.settings.banner_pc.alt }}">
                    <img src="{{ block.settings.banner_sp | image_url: width: 1200 }}" alt="{{ block.settings.banner_sp.alt }}">
                </picture>
                <div class="ssSlide__title">
                  <span class="ssSlide__subTitle">{{ block.settings.sub-title }}</span>
                  <span class="ssSlide__mainTitle">{{ block.settings.main-title }}</span>
                </div>
                <span class="ssSlide__label">
                  商品一覧をみる
                </span>
              </div>
            </a>
        </li>
      {% endfor %}

      </ul>
      <div class="ssSlide__swipernav">
        <div class="ssSlide__prev"></div>
        <div class="ssSlide__pagination"></div>
        <div class="ssSlide__next"></div>
      </div>
      
    </div>
  </div>
</section>





{% schema %}
    {
      "name": "ssスライド",
     "max_blocks": 5,
     "blocks": [
       {
         "type": "blockset",
         "name": "ブロックセット",
           "settings": [
            {
              "type": "text",
              "id": "main-title",
              "label": "メインタイトル",
              "default": "テキストを入力してください"
            },
            {
              "type": "text",
              "id": "sub-title",
              "label": "サブタイトル",
              "default": "テキストを入力してください"
            },
           {
               "type": "image_picker",
               "id": "banner_pc",
               "label": "バナー(PC)"
           },
           {
               "type": "image_picker",
               "id": "banner_sp",
               "label": "バナー(SP)"
           },
           {
                "id": "url",
                "type": "url",
                "label": "リンク"
           }
         ]
       }
     ],
     "settings": [
          {
            "type": "range",
            "id": "overlay",
            "min": 0,
            "max": 1,
            "step": 0.1,
            "label": "オーバーレイ",
            "default": 0.2
          },
          {
            "type": "color",
            "id": "overlay-color",
            "label": "オーバーレイの色",
            "default": "#000"
          }
      ],
     "presets": [
        {
          "name": "ssスライド",
          "blocks": [
            {
              "type": "blockset"
            }
          ]
        }
      ]
    }
  {% endschema %}