
{%- style -%}
  .ssPopupPage{
    padding: 0;
    margin: 0;
    padding-top: {{ section.settings.padding-top |  times: 0.5 }}px;
    padding-bottom: {{ section.settings.padding-bottom |  times: 0.5 }}px;
  }
  .ssPopupPage__blocks{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .ssPopupIntroduction__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ssPopupIntroduction__message{
    padding: 124px 35px 40px 35px;
    background:#779547;

  }

  .ssPopupIntroduction__title{
    padding: 0;
    margin: 0;
    color: #FEFFFF;
    text-align: center;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: normal;
  }

  .ssPopupIntroduction__description p{
    padding: 0;
    margin: 0;
    color: #FEFFFF;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 172%; /* 25.8px */
    letter-spacing: 0.6px;
  }

  .ssPopupIntroduction__imageBox{
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
  }
  .ssPopupIntroduction__imageBox::before{
  background-image: url('https://cdn.shopify.com/s/files/1/0841/4478/3666/files/popup___sp_1ae4d839-36d7-42bd-83d0-a3c4bf507e4b.jpg?v=1697613394');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  }



  .ssPopupIntroduction__image img{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ssPopupIntroduction__decoration1Img{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 65.6vw;
    height: auto;
  }
  .ssPopupIntroduction__decoration2Img{
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    width: 65.6vw;
    height: auto;
  }


  @media screen and (min-width: 750px) {
    .ssPopupIntroduction__message{
      padding: 0;
      width: 100%;
      padding: 95px 40px 80px 40px;
    }
    .ssPopupIntroduction__title{
      font-size: 40px;
      max-width: 780px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 20px;
      margin-top: 80px;
    }
    .ssPopupIntroduction__description{
      max-width: 780px;
      margin: 0 auto;
    }
    .ssPopupIntroduction__description p{
      font-size: 16px;
      letter-spacing: 0.64px;
    }
    .ssPopupIntroduction__imageBox{
      padding-top: 640px;
      overflow: hidden;
    }
    .ssPopupIntroduction__decoration1Img{
      width: 46.171vw;
    }
    .ssPopupIntroduction__decoration2Img{
      width: 35.546vw;
    }
    .ssPopupIntroduction__imageBox::before{
      background-image: url('https://cdn.shopify.com/s/files/1/0841/4478/3666/files/popup_4f4aa25b-dc0b-4627-a0dc-e1c0bfd0f488.jpg?v=1697613409');
    }

  }
{%- endstyle -%}

{% style %}
.ssPopupSchedule{
  width: 100%;
  background-color: #F0F1ED;
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: {{ section.settings.ssPopupSchedule-background-color }};
  padding-top: {{ section.settings.ssPopupSchedule-padding-top |  times: 0.5 }}px;
  padding-bottom: {{ section.settings.ssPopupSchedule-padding-bottom |  times: 0.5 }}px; */
}
  .ssPopupSchedule__section{
    width: calc(100% - 30px);
    max-width: 1100px;
    margin: 0 auto;
  }

  .ssCard__items{
    padding: 0;
    margin: 0;
    display: block;
    background: #FEFFFF;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
  }
  .ssPopupSchedule__title{
      padding: 0 0 10.666vw 0;
  }
  .ssCard__maintitle{
    padding: 0;
    margin: 0;
    color: #020202;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
  }
  .ssCard__capture{
    padding: 0;
    margin: 0;
    color: #020202;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 172%; /* 27.52px */
    letter-spacing: 0.64px;
  }

  .ssPopupSchedule__tabs{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ssPopupSchedule__tab{
    padding: 0;
    margin: 0;
    list-style: none;    
    flex:1;
    padding-top: 32px;
    padding-bottom: 33px;
    color: #808080;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
  }

  .ssPopupSchedule__tab.is-active{
    color: #779547;
  }

  .ssPopupSchedule__tab::after{
    content: '';
    height: 4px;
    width: 100%;
    background: #BABFC5;
    border-radius: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .ssPopupSchedule__tab.is-active::after{
    background: #779547;
  }

  .ssPopupSchedule__openBlocks{
    padding-top: 32px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 38px;
    display: none;
  }

  .ssPopupSchedule__openBlocks.is-active{
    display: block;
  }

  .ssPopupSchedule__openBlock{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
  }

  .ssPopupSchedule__openBlock:not(:first-child){
    margin-top: 40px;
  }

  .ssPopupSchedule__shopName{
    padding: 0;
    margin: 0;
    padding: 8px 24px;
    display: inline-block;
    background: #6B5D58;
    border-radius: 8px;
    color: #FEFFFF;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
  }

  .ssPopupSchedule__shopName-close{
    background: #BABFC5;
  }
  .ssPopupSchedule__eventData{
    padding: 0;
    margin: 0;
  }
  .ssPopupSchedule__eventDataRow{
    padding: 0;
    margin: 0;
    padding: 16px 0px 24px 0px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    position: relative;

  }
  .ssPopupSchedule__eventDataRow:first-child{
    padding-top: 24px;
  }

  .ssPopupSchedule__eventDataRow dt{
    padding: 0;
    margin: 0;
    color: #808080;
    font-size: 17px;
    font-weight: 400;
    height: auto;
    display: inline-block;
    font-style: normal;
    line-height: normal;

  }
  .ssPopupSchedule__eventDataRow dd{
    padding: 0;
    margin: 0;
    flex: 1;
    color: #020202;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
  }

  .ssPopupSchedule__eventDataRow::before{
    content:'';
    background: linear-gradient(to right, #779547, #779547 4px, transparent 4px, transparent 8px);
    background-size: 8px 1px;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @media screen and (min-width: 750px) {
    .ssPopupSchedule{
      padding-top: 80px;
      padding-bottom: 80px;
       /* padding-top: {{ section.settings.ssPopupSchedule-padding-top }}px;
      padding-bottom: {{ section.settings.ssPopupSchedule-padding-bottom }}px; */
    }
    

    .ssPopupSchedule__shopName{
      border-radius: 16px;
      font-size: 24px;
    }
    .ssPopupSchedule__openBlock:not(:first-child){
      margin-top: 64px;
    }
    .ssCard__items{
      border-radius: 40px;
    }
    .ssPopupSchedule__tab{
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .ssPopupSchedule__eventDataRow{
      padding: 24px 0px 24px 0px;
    }
    .ssPopupSchedule__eventDataRow:first-child{
      padding-top: 32px;
    }
    .ssPopupSchedule__eventDataRow dt{
      font-size: 18px;
      line-height: 116%;
    }
    
    .ssPopupSchedule__eventDataRow dd{
      font-size: 18px;
      line-height: 116%;
    }
    .ssCard__maintitle{
      font-size: 24px;
    }
    .ssPopupSchedule__openBlocks{
      padding: 40px 80px 82px 80px;
    }

    .ssPopupSchedule__title{
      padding: 0 0 3.125vw 0;
      width: calc(100% - 30px);
      max-width: 1100px;
    }


  }
{% endstyle %}

{% style %}
  .ssPopupPageProducts{
    padding:0;
    margin:0;
    width: 100%;
    background-color: #FEFFFF;
    padding-top: 40px;
    padding-bottom: 40px;
    /* background-color: {{ section.settings.ssPopupSchedule-background-color }};
    padding-top: {{ section.settings.ssPopupSchedule-padding-top |  times: 0.5 }}px;
    padding-bottom: {{ section.settings.ssPopupSchedule-padding-bottom |  times: 0.5 }}px; */

  }
  .ssPopupPageProducts__section{
    margin: 0;
    padding: 0;
  }


  .ssPopupPageProducts__products{
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
    align-items: center;
    justify-content:center;
  }
  .ssPopupPageProducts__product{
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
  .ssPopupPageProducts__imagebox{
    width: 100%;
    padding-right: 15px;
    padding-left:15px;
  }
  .ssPopupPageProducts__image{
    padding:0;
    margin:0;
    width: 100%;
    padding-top: 100%;
    position:relative;
    border-radius: 40px;
    overflow: hidden;

  }
  .ssPopupPageProducts__image img{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
  }
  .ssPopupPageProducts__message{
    width: calc(100%);
    padding-top: 40px;
    padding-right: 40px;
    padding-left:40px;
  }

  .ssPopupPageProducts__message h2{
    padding:0;
    margin:0;
    color: #020202;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    font-style: normal;
    line-height: normal;
  }
  .ssPopupPageProducts__messagetext{
    padding:0;
    margin:0;
    color: #020202;
    font-size: 15px;
    font-weight: 400;
    line-height: 172%; /* 25.8px */
    letter-spacing: 0.6px;
    font-style: normal;
  }

  .ssPopupPageProducts__messagetext:not(:first-child){
    padding:0;
    margin:0;
    margin-top: 10px;
  }

  @media screen and (min-width: 750px) {
    .ssPopupPageProducts {
      /* padding-top: {{ section.settings.ssPopupSchedule-padding-top }}px;
      padding-bottom: {{ section.settings.ssPopupSchedule-padding-bottom }}px; */
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .ssPopupPageProducts__section{
      margin: 0 40px;
      padding: 0;
    }
    .ssPopupPageProducts__message h2{
      font-size: 40px;
    }
    .ssPopupPageProducts__messagetext{
      font-size: 16px;
      letter-spacing: 0.64px;
    }
    .ssPopupPageProducts__products{
      gap: 40px;
      max-width: 1100px;
      width: 100%;
      margin: 0 auto;
    }
    .ssPopupPageProducts__product{
      width: 100%;
      flex-direction: row;
      align-items: center;
    justify-content:center;
    }
    .ssPopupPageProducts__imagebox{
      max-width: 359px;
    }
    .ssPopupPageProducts__image{
      border-radius: 40px;
    }
    .ssPopupPageProducts__message{
      padding: calc(4.6875vw / 2) calc(5.46875vw / 2) calc(5.46875vw / 2) calc(5.46875vw / 2);
    }
    .ssPopupPageProducts__messagetext{
      font-size: 16px;
      font-weight: 400;
      line-height: 172%; /* 27.52px */
      letter-spacing: 0.64px;
    }
    @media screen and (min-width: 1200px) {
      .ssPopupPageProducts__message{
        padding: 4.6875vw 5.46875vw 5.46875vw 5.46875vw;
      }
    }
    
  }
{% endstyle %}


{% style %}
.ssPopupPageShop__section{
  padding:0;
  margin:0;
}
.ssPopupPageShop__imagebox{
  padding:0;
  margin:0;
  position: relative;
}
.ssPopupPageShop__imagebox::before{
  content: '';
  width: 100%;
  height: auto;
  display: block;
  padding-top:89.3333%;
}
 .ssPopupPageShop__image{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  object-fit: cover;
  top:0;
  left:0;
 }
 .ssPopupPageShop__deco1{
  width: 65.6vw;
  position: absolute;
  display: block;
  top:0;
  left:0;
 }
 .ssPopupPageShop__deco2{
  display: block;
  width: 100%;
  height: auto;
  width: 55.4666vw;
  position: absolute;
  bottom:0;
  right:0;
 }
 .ssPopupPageShop__message{
  padding:0;
  margin:0;
  background: #FEFFFF;
  position:relative;
  display: block;
 }

 .ssPopupPageShop__title{
  padding:0;
  margin:0;
  position: absolute;
  top:0;
  left: 0;
  margin-left:15px;
  display: block;
  writing-mode: vertical-rl;
  transform: translateY(-50%);
  white-space: nowrap;
 }

 .ssPopupPageShop__messageDecoSub-sp{
    padding:0;
    margin:0;
    color: #6B5D58;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 20.4px */
    position: relative;
    display: block;
 }

 .ssPopupPageShop__messageDecoSub-sp::before{
    content: attr(data-title);
    overflow: hidden;
    height: 50%;
    color: #FEFFFF;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    display: block;
 }


 .ssPopupPageShop__messageDecoSub-pc{
  padding:0;
  margin:0;
  display: none;
  
  

 }

 .ssPopupPageShop__messageDecoSub-pc::before{
    content: attr(data-title);
    overflow: hidden;
    height: 50%;
    color: #FEFFFF;
    position: absolute;
    top:0;
    left:0;
    display: block;
 }

 

 
 .ssPopupPageShop__messageDecoTitle-sp{
  padding:0;
  margin:0;
  color: #6B5D58;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 36px */
  margin-right: 16px;
  position: relative;
    display: block;
  
 }

 .ssPopupPageShop__messageDecoTitle-sp::before{
   content: attr(data-title);
   overflow: hidden;
   height: 50%;
    color: #FEFFFF;
   position: absolute;
    top:0;
    left:0;
    display: block;
 }



 .ssPopupPageShop__messageDecoTitle-pc{
  padding:0;
  margin:0;
  display: none;
  
 }


 .ssPopupPageShop__messageDecoTitle-pc::before{
  content: attr(data-title);
  overflow: hidden;
  height: 50%;
    color: #FEFFFF;
  position: absolute;
    top:0;
    left:0;
    display: block;
 }

 @media screen and (min-width: 750px) {
  .ssPopupPageShop__title{
    left: 7.03125vw;
  }
  .ssPopupPageShop__messageDecoSub-sp{
    display: none;
  }
  .ssPopupPageShop__messageDecoTitle-sp{
    display: none;
  }
  .ssPopupPageShop__messageDecoSub-pc{
    display: block;
    color: #6B5D58;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
    position: relative;
 
  }
  .ssPopupPageShop__messageDecoTitle-pc{
    display: block;
    color: #6B5D58;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 48px */
    position: relative;
  }
 }

/* 

 .ssPopupPageShop__messageDecoTitle::after{
  content: attr(data-title);
  height: 72px;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  display: block;
  color: #FEFFFF;
  top: 0px;
  left: 0px;
 }
 .ssPopupPageShop__messageDecoSub::after{
  content: attr(data-title);
  height: 72px;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  display: block;
  color: #FEFFFF;
  top: 0px;
  left: 0px;
 }

 .ssPopupPageShop__messageDecoTitle{
  position: absolute;
  top: -72px;
  left: 15px;
  color:#6B5D58;
  font-size: 30px;
  font-weight: 400;
  display: block;
  line-height: 120%;
  writing-mode: vertical-rl;
 }
 .ssPopupPageShop__messageDecoSub{
  position: absolute;
  top: -72px;
  left: 65px;
  color: #6B5D58;
  font-size: 17px;
  font-weight: 400;
  display: block;
  line-height: 120%;
  writing-mode: vertical-rl;
 } */


 .ssPopupPageShop__messageInner{
  padding:0;
  margin:0;
  padding: 96px 15px 40px 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap:16px;
 }
 .ssPopupPageShop__messageNumber{
  padding:0;
  margin:0;
  display: inline-block;
  color: #020202;
  font-size: 18px;
  font-weight: 400;
  line-height: 116%; /* 20.88px */
 }
 .ssPopupPageShop__lists{
  padding:0;
  margin:0;
  list-style: none;
 }
 .ssPopupPageShop__list{
  padding:0;
  margin:0;
 }
 .ssPopupPageShop__list:not(:first-child){
  margin-top: 28px;
 }
 .ssPopupPageShop__messageText{
  flex: 1;
 }
 .ssPopupPageShop__messageText p{
  padding:0;
  margin:0;
  color:  #020202;
  font-size: 16px;
  font-weight: 400;
  line-height: 172%; /* 27.52px */
  letter-spacing: 0.64px;
 }
 @media screen and (min-width: 750px) {

  .ssPopupPageShop__imagebox::before{
    padding-top:46.5625%;
  }
  .ssPopupPageShop__deco1{
    width: 46.171875vw;
  }
  .ssPopupPageShop__deco2{
    width: 35.546875vw;
  }
  .ssPopupPageShop__messageInner{
    padding-left: 19.0625vw;
  }
  .ssPopupPageShop__messageText{
    width:100%;
    max-width: 582px;
  }

  .ssPopupPageShop__list:not(:first-child){
      margin-top: 40px;
  }
  

  /* .ssPopupPageShop__messageDecoTitle{
    position: absolute;
    left: 90px;
  }
  .ssPopupPageShop__messageDecoSub{
    position: absolute;
    left: 146px;
  } */
 }
{% endstyle %}

<div class="ssPopupPage">
  <ul class="ssPopupPage__blocks">
    <li class="ssPopupIntroduction">
      <div class="ssPopupIntroduction__inner">
        <div class="ssPopupIntroduction__message">
          <h2 class="ssPopupIntroduction__title">和菓子屋ぽっぷあっぷ</h2>
          <div class="ssPopupIntroduction__description">
            <p>私たちのポップアップストアでは、和菓子の魅力を一堂に集めました。</p>
            <p>厳選された素材と職人の技が生み出す、風味豊かな和菓子たちがお待ちしています。</p>
            <p>春の訪れを感じる桜餅や、夏の涼を楽しむ抹茶アイス、秋の豊穣を彩る栗きんとんなど、季節ごとの旬の味覚をお楽しみいただけます。</p>
            <p>また、古典的なお茶との相性を考えたセットメニューや、手土産にもぴったりなお菓子の詰め合わせもご用意しております。</p>
          </div>
        </div>
        <div class="ssPopupIntroduction__imageBox">
          <picture>
            <source class="ssPopupIntroduction__decoration1Img" srcset="https://cdn.shopify.com/s/files/1/0841/4478/3666/files/decoration_1.png?v=1697613370" alt="" media="(min-width: 700px)">
            <img class="ssPopupIntroduction__decoration1Img" src="https://cdn.shopify.com/s/files/1/0841/4478/3666/files/decoration_sp_1.png?v=1697613370" alt="">
          </picture>
          <picture>
            <source class="ssPopupIntroduction__decoration2Img" srcset="https://cdn.shopify.com/s/files/1/0841/4478/3666/files/decoration_2.png?v=1697613370" alt="" media="(min-width: 700px)">
            <img class="ssPopupIntroduction__decoration2Img" src="https://cdn.shopify.com/s/files/1/0841/4478/3666/files/decoration_sp_2.png?v=1697613369" alt="">
          </picture>
        </div>
      </div>
    </li>
    <li class="ssPopupSchedule">
      <div class="ssPopupSchedule__section">
        <div class="ssPopupSchedule__title">
          <h2 class="ssCard__maintitle">
            スケジュール
          </h2>
          <p class="ssCard__capture">
            開催日をチェックしてポップアップストアへ来てください。
          </p>
        </div>
        <div class="ssCard__items">
          <ul class="ssCard__itemsinner ssPopupSchedule__tabs">
            <li class="ssPopupSchedule__tab is-active" data-id="open">開催予定・開催中</li>
            <li class="ssPopupSchedule__tab" data-id="close">開催終了</li>
           </ul>
           <div class="ssPopupSchedule__openBlocks is-active" data-id="open">
            <div class="ssPopupSchedule__openBlock">
              <p class="ssPopupSchedule__shopName">横浜高島屋</p>
              <dl class="ssPopupSchedule__eventData">
                <div class="ssPopupSchedule__eventDataRow">
                  <dt>日付</dt>
                  <dd>2023年5月4日〜2023年5月24日</dd>
                </div>
                <div class="ssPopupSchedule__eventDataRow">
                  <dt>場所</dt>
                  <dd>神奈川県横浜市西区南幸1丁目6-31 地下一階 Foodies’Port2 イベントスクエア</dd>
                </div>
                <div class="ssPopupSchedule__eventDataRow">
                  <dt>時間</dt>
                  <dd>午前10時〜午後9時</dd>
                </div>
              </dl>
             </div>
             <div class="ssPopupSchedule__openBlock">
              <p class="ssPopupSchedule__shopName">新宿高島屋</p>
              <dl class="ssPopupSchedule__eventData">
                <div class="ssPopupSchedule__eventDataRow">
                  <dt>日付</dt>
                  <dd>2023年5月4日〜2023年5月24日</dd>
                </div>
                <div class="ssPopupSchedule__eventDataRow">
                  <dt>場所</dt>
                  <dd>東京都新宿区歌舞伎町1丁目333 地下一階 Foodies’Port2 イベントスクエア</dd>
                </div>
                <div class="ssPopupSchedule__eventDataRow">
                  <dt>時間</dt>
                  <dd>午前10時〜午後9時</dd>
                </div>
              </dl>
             </div>
           </div>

           <div class="ssPopupSchedule__openBlocks" data-id="close">
            <div class="ssPopupSchedule__openBlock">
              <p class="ssPopupSchedule__shopName ssPopupSchedule__shopName-close">横浜高島屋</p>
              <dl class="ssPopupSchedule__eventData">
                <div class="ssPopupSchedule__eventDataRow">
                  <dt>日付</dt>
                  <dd>2023年2月4日〜2023年2月24日</dd>
                </div>
              </dl>
             </div>
             <div class="ssPopupSchedule__openBlock">
              <p class="ssPopupSchedule__shopName ssPopupSchedule__shopName-close">新宿高島屋</p>
              <dl class="ssPopupSchedule__eventData">
                <div class="ssPopupSchedule__eventDataRow">
                  <dt>日付</dt>
                  <dd>2023年3月4日〜2023年3月24日</dd>
                </div>
              </dl>
             </div>
           </div>
           
        </div>
      </div>
    </li>
    <li class="ssPopupPageProducts">
      <div class="ssPopupPageProducts__section">
        <ul class="ssPopupPageProducts__products">
          <li class="ssPopupPageProducts__product">
            <div class="ssPopupPageProducts__imagebox">
              <div class="ssPopupPageProducts__image">
                <img src="https://cdn.shopify.com/s/files/1/0841/4478/3666/files/product_1c61ccc9-13ce-4dc9-8219-7adf62bfab05.jpg?v=1698136760" alt="">
              </div>
            </div>
            <div class="ssPopupPageProducts__message">
              <h2>水羊羹（夕凪）</h2>
              <div class="ssPopupPageProducts__messagetext">
                <p>春に秋を交えたような色合いの羊羹です。</p>
                <p>甘くなりすぎないようにあんこを控えめにしています。</p>
                <p>インスタグラムでバエルと話題になっております。お写真を撮ってぜひ、楽しんでお食事ください。</p>
              </div>
            </div>
          </li>
          <li class="ssPopupPageProducts__product">
            <div class="ssPopupPageProducts__imagebox">
              <div class="ssPopupPageProducts__image">
                <img src="https://cdn.shopify.com/s/files/1/0841/4478/3666/files/product_1c61ccc9-13ce-4dc9-8219-7adf62bfab05.jpg?v=1698136760" alt="">
              </div>
            </div>
            <div class="ssPopupPageProducts__message">
              <h2>水羊羹（夕凪）</h2>
              <div class="ssPopupPageProducts__messagetext">
                <p>春に秋を交えたような色合いの羊羹です。</p>
                <p>甘くなりすぎないようにあんこを控えめにしています。</p>
                <p>インスタグラムでバエルと話題になっております。お写真を撮ってぜひ、楽しんでお食事ください。</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="ssPopupPageShop">
      <div class="ssPopupPageShop__section">
        <div class="ssPopupPageShop__imagebox">
          <picture>
            <source class="ssPopupPageShop__image" srcset="https://cdn.shopify.com/s/files/1/0841/4478/3666/files/popup.jpg?v=1697613397" media="(min-width: 700px)">
            <img class="ssPopupPageShop__image" src="https://cdn.shopify.com/s/files/1/0841/4478/3666/files/popup___SP.jpg?v=16976133847">
          </picture>
          <img class="ssPopupPageShop__deco1" src="https://cdn.shopify.com/s/files/1/0841/4478/3666/files/deco_sp.svg?v=1699244243">
          <img class="ssPopupPageShop__deco2" src="https://cdn.shopify.com/s/files/1/0841/4478/3666/files/deco2_1.svg?v=1699274154">

        </div>
        <div class="ssPopupPageShop__message">
          <div class="ssPopupPageShop__title">
            <span class="ssPopupPageShop__messageDecoSub-sp" data-title="お ん ら い ん">お ん ら い ん</span>
            <span class="ssPopupPageShop__messageDecoSub-pc" data-title="お ん ら い ん">お ん ら い ん</span>
            <h2 class="ssPopupPageShop__messageDecoTitle-sp" data-title="和 菓 子 屋">和 菓 子 屋</h2>
            <h2 class="ssPopupPageShop__messageDecoTitle-pc" data-title="和 菓 子 屋">和 菓 子 屋</h2>
          </div>
          
          <div class="ssPopupPageShop__messageInner">
            <ul class="ssPopupPageShop__lists">
              <li class="ssPopupPageShop__list">
                <span class="ssPopupPageShop__messageNumber">一</span>
                <div class="ssPopupPageShop__messageText">
                  <p>「時はさざ波、美味は雅」。古き良き京都の和菓子屋。</p>
                  <p>四季折々の彩りと香り、お茶との調和。古都の粋を凝縮した和菓子、京の華。</p>
                  <p>厳選した材料から皆様に喜ばれる和菓子づくりを。</p>
                </div>
              </li>
              <li class="ssPopupPageShop__list">
                <span class="ssPopupPageShop__messageNumber">一</span>
                <div class="ssPopupPageShop__messageText">
                  <p>「時はさざ波、美味は雅」。古き良き京都の和菓子屋。</p>
                  <p>四季折々の彩りと香り、お茶との調和。古都の粋を凝縮した和菓子、京の華。</p>
                  <p>厳選した材料から皆様に喜ばれる和菓子づくりを。</p>
                </div>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>


            {% comment %} <picture class="ssPopupPageShop__image">
              <source srcset="https://cdn.shopify.com/s/files/1/0841/4478/3666/files/popup_2a4e7b33-41c5-43c6-b544-78e347fad34d.jpg?v=1697613405" media="(min-width: 1000px)">
              <img src="https://cdn.shopify.com/s/files/1/0841/4478/3666/files/popup___SP.jpg?v=1697613384" alt="">
            </picture>
            <picture class="ssPopupPageShop__imageDeco1">
              <source srcset="https://cdn.shopify.com/s/files/1/0841/4478/3666/files/deco_pc.svg?v=1699244240" media="(min-width: 1000px)">
              <img src="https://cdn.shopify.com/s/files/1/0841/4478/3666/files/deco_sp.svg?v=1699244243" alt="">
            </picture>
            <picture class="ssPopupPageShop__imageDeco2">
              <source srcset="https://cdn.shopify.com/s/files/1/0841/4478/3666/files/decoration_2.png?v=1697613370" media="(min-width: 1000px)">
              <img src="https://cdn.shopify.com/s/files/1/0841/4478/3666/files/decoration_sp_2.png?v=1697613369" alt="">
            </picture> {% endcomment %}




<script>
  document.addEventListener('DOMContentLoaded', function(){
    const tabs = document.querySelectorAll('.ssPopupSchedule__tab');
    const blocks = document.querySelectorAll('.ssPopupSchedule__openBlocks');

    tabs.forEach(tab => {
      tab.addEventListener('click', function(){
        // すべてのタブからis-activeクラスを削除
        tabs.forEach(t => t.classList.remove('is-active'));
        // 現在のタブにis-activeクラスを追加
        this.classList.add('is-active');
        // すべてのブロックを非表示にする
        blocks.forEach(b => b.classList.remove('is-active'));
        // クリックされたタブに対応するブロックを表示する
        const activeBlock = document.querySelector(`.ssPopupSchedule__openBlocks[data-id="${this.dataset.id}"]`);
        if (activeBlock) {
          activeBlock.classList.add('is-active');
        }
      });
    });
  });
</script>


{% schema %}
{
  "name": "ポップアップストア特設ページ",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
