{% if section.settings.popup-page-top-block %}
  {% assign mobile_top_padding_value = section.settings.padding_top | plus : 44 %}
  {% assign pc_top_padding_value = section.settings.padding_top | plus : 15 %}
{% else %}
  {% assign mobile_top_padding_value = section.settings.padding_top | divided_by : 2  %}
  {% assign pc_top_padding_value = section.settings.padding_top %}
{% endif %}

{%- style -%}

  .ssPopupSchedule{
    width: 100%;
    background-color: {{ section.settings.background-color }};
    padding-top: {{ mobile_top_padding_value }}px;
    padding-bottom: {{ section.settings.padding_bottom |  times: 0.5 }}px;
  }

  .ssPopupSchedule__section{
    width: calc(100% - 30px);
    max-width: 1100px;
    margin: 0 auto;
  }

  .ssCard__items{
    padding: 0;
    margin: 0;
    display: block;
    background: #FEFFFF;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
  }

  .ssPopupSchedule__title{
    width: 100%;
    padding: 0 0 10.666vw 0;
  }

  .ssCard__maintitle{
    padding: 0;
    margin: 0;
    color: #020202;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
  }

  .ssCard__capture{
    padding: 0;
    margin: 0;
    color: #020202;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 172%;
    letter-spacing: 0.64px;
  }

  .ssPopupSchedule__tabs{
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
  }

  .ssPopupSchedule__tab{
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    padding-top: 32px;
    padding-bottom: 33px;
    color: #808080;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
  }

  .ssPopupSchedule__tab.is-active{
    color: #779547;
  }

  .ssPopupSchedule__tab::after{
    content: '';
    height: 4px;
    width: 100%;
    background: #BABFC5;
    border-radius: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .ssPopupSchedule__tab.is-active::after{
    background: #779547;
  }

  .ssPopupSchedule__openBlocks{
    padding-top: 32px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 38px;
    display: none;
  }

  .ssPopupSchedule__openBlocks.is-active{
    display: block;
  }

  .ssPopupSchedule__openBlock{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
  }

  .ssPopupSchedule__openBlock:not(:first-child){
    margin-top: 40px;
  }

  .ssPopupSchedule__shopName{
    padding: 0;
    margin: 0;
    padding: 8px 24px;
    display: inline-block;
    background: #6B5D58;
    border-radius: 8px;
    color: #FEFFFF;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
  }

  .ssPopupSchedule__shopName-close{
    background: #BABFC5;
  }

  .ssPopupSchedule__eventData{
    padding: 0;
    margin: 0;
  }

  .ssPopupSchedule__eventDataRow{
    padding: 0;
    margin: 0;
    padding: 16px 0px 24px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 24px;
    position: relative;
  }

  .ssPopupSchedule__eventDataRow:first-child{
    padding-top: 24px;
  }

  .ssPopupSchedule__eventDataRow dt{
    padding: 0;
    margin: 0;
    color: #808080;
    font-size: 17px;
    font-weight: 400;
    height: auto;
    display: inline-block;
    font-style: normal;
    line-height: normal;
  }

  .ssPopupSchedule__eventDataRow dd{
    padding: 0;
    margin: 0;
    flex: 1;
    color: #020202;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
  }

  .ssPopupSchedule__eventDataRow::before{
    content:'';
    background: -o-linear-gradient(left, #779547, #779547 4px, transparent 4px, transparent 8px);
    background: linear-gradient(to right, #779547, #779547 4px, transparent 4px, transparent 8px);
    background-size: 8px 1px;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @media screen and (min-width: 750px) {
    .ssPopupSchedule{
      padding-top: {{ pc_top_padding_value }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .ssPopupSchedule__shopName{
      border-radius: 16px;
      font-size: 24px;
    }

    .ssPopupSchedule__openBlock:not(:first-child){
      margin-top: 64px;
    }

    .ssCard__items{
      border-radius: 40px;
    }

    .ssPopupSchedule__tab{
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .ssPopupSchedule__eventDataRow{
      padding: 24px 0px 24px 0px;
    }

    .ssPopupSchedule__eventDataRow:first-child{
      padding-top: 32px;
    }

    .ssPopupSchedule__eventDataRow dt{
      font-size: 18px;
      line-height: 116%;
    }

    .ssPopupSchedule__eventDataRow dd{
      font-size: 18px;
      line-height: 116%;
    }

    .ssCard__maintitle{
      font-size: 24px;
    }

    .ssPopupSchedule__openBlocks{
      padding: 40px 80px 82px 80px;
    }

    .ssPopupSchedule__title{
      padding: 0 0 3.125vw 0;
      width: calc(100% - 30px);
      max-width: 1100px;
    }


  }
{%- endstyle -%}



<section class="ssPopupSchedule" id="popup-schedule">
  <div class="ssPopupSchedule__section">
    <div class="ssPopupSchedule__title">
      <h2 class="ssCard__maintitle">
        スケジュール
      </h2>
      <p class="ssCard__capture">
        開催日をチェックしてポップアップストアへ来てください。
      </p>
    </div>
    <div class="ssCard__items">
      <ul class="ssCard__itemsinner ssPopupSchedule__tabs">
        <li class="ssPopupSchedule__tab is-active" data-id="open">開催予定・開催中</li>
        <li class="ssPopupSchedule__tab" data-id="close">開催終了</li>
        </ul>
        <div class="ssPopupSchedule__openBlocks is-active" data-id="open">
          {% for event in shop.metaobjects.event.values %}
            {% if event.upcoming %}
              <div class="ssPopupSchedule__openBlock">
                <p class="ssPopupSchedule__shopName">{{ event.building }}</p>
                <dl class="ssPopupSchedule__eventData">
                  <div class="ssPopupSchedule__eventDataRow">
                    <dt>日付</dt>
                    <dd>{{ event.date }}</dd>
                  </div>
                  <div class="ssPopupSchedule__eventDataRow">
                    <dt>場所</dt>
                    <dd>{{ event.place }}</dd>
                  </div>
                  <div class="ssPopupSchedule__eventDataRow">
                    <dt>時間</dt>
                    <dd>{{ event.time }}</dd>
                  </div>
                </dl>
              </div>
            {% endif %}
          {% endfor %}
          </div>


          <div class="ssPopupSchedule__openBlocks" data-id="close">
            {%- for event in shop.metaobjects.event.values -%}
              {% if event.upcoming == false %}
                <div class="ssPopupSchedule__openBlock">
                  <p class="ssPopupSchedule__shopName ssPopupSchedule__shopName-close">{{ event.building }}</p>
                  <dl class="ssPopupSchedule__eventData">
                    <div class="ssPopupSchedule__eventDataRow">
                      <dt>日付</dt>
                      <dd>{{ event.date }}</dd>
                    </div>
                  </dl>
                  </div>
                {% endif %}
              {%- endfor -%}
          </div>
    </div>
  </div>
</section>




<script>
  document.addEventListener('DOMContentLoaded', function(){
    const tabs = document.querySelectorAll('.ssPopupSchedule__tab');
    const blocks = document.querySelectorAll('.ssPopupSchedule__openBlocks');

    tabs.forEach(tab => {
      tab.addEventListener('click', function(){

        tabs.forEach(t => t.classList.remove('is-active'));

        this.classList.add('is-active');

        blocks.forEach(b => b.classList.remove('is-active'));

        const activeBlock = document.querySelector(`.ssPopupSchedule__openBlocks[data-id="${this.dataset.id}"]`);
        if (activeBlock) {
          activeBlock.classList.add('is-active');
        }
      });
    });
  });
</script>

{% schema %}
{
  "name": "ssポップアップ_スケジュール",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "checkbox",
      "id": "popup-page-top-block",
      "default": false,
      "label": "ポップアップページの最上部の場合はチェック(余白調整)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 80
    },
    {
      "type": "color",
      "id": "background-color",
      "label": "背景色",
      "default": "#F0F1ED"
    }
  ],
  "presets": [
        {
          "name": "ssポップアップ_スケジュール"
        }
  ]
}
{% endschema %}
