
{% style %}

.ssSection-{{ section.id }} {
  background-color: {{ section.settings.background-color }};
  padding-top: {{ section.settings.padding-top |  times: 0.5 }}px;
  padding-bottom: {{ section.settings.padding-bottom |  times: 0.5 }}px;
}

.ssRank_items {
  margin: 0;
  padding: 0;
}

.ssRankCard__number{
  margin: 0;
  padding: 0;
  display: inline-block;
  width: min(12.8vw, 48px);
  height: min(12.8vw, 48px);
  line-height: min(12.8vw, 48px);
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  vertical-align: middle;
  font-size: min(5.3333vw, 20px);
  color: #FEFFFF;
}

.ssRankCard__number-1{
  background-color: #C79B33;
}

.ssRankCard__number-2{
  background-color: #9A9A9A;
}

.ssRankCard__number-3{
  background-color: #977C54;
}

.ssRankCard__number-4, 
.ssRankCard__number-5{
  background-color: #DA9B8A;
}

@media screen and (min-width: 750px) {
  .ssSection-{{ section.id }} {
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .ssRankCard__number{
    width: min(3.75vw, 48px);
    height: min(3.75vw, 48px);
    line-height: min(3.75vw, 48px);
    font-size: min(6.4vw, 24px);
  }

}

{% endstyle %}



<section class="ssSection-{{ section.id }}">
  <div class="ssCard__title">
    <h2 class="ssCard__maintitle">
      月間ランキング
    </h2>
    <p class="ssCard__capture">
      選ばれた和菓子をご堪能ください。
    </p>
  </div>
  <div class="ssCard__items">
    <ul class="ssCard__itemsinner">
      {%- for item in section.settings.item-collection.products limit: 5 -%}
          <li class="ssCard__item">
            <a href="{{ item.url }}" class="ssCard__link">
              <div class="ssCard__image">
                <picture>
                  <source srcset="{{ item.featured_image | image_url: width: 2000 }}" media="(min-width: 1126px)" alt="{{ item.featured_image.alt }}">
                  <img src="{{ item.featured_image | image_url: width: 1200 }}" alt="{{ item.featured_image.alt }}">
                </picture>
                {% if section.settings.rank-number %}
                  <span class="ssRankCard__number ssRankCard__number-{{forloop.index}}">{{ forloop.index | replace: '1' ,'一' | replace: '2' ,'二' | replace: '3' ,'三' | replace: '4' ,'四' | replace: '5' ,'五' }}</span>
                {% endif %}
              </div>
              <div class="ssCard__iteminfo">
                <p class="ssCard__itemname">
                  {{ item.title }}
                </p>
                <p class="ssCard__price">
                  {{ item.price | money }}
                </p>
              </div>
            </a>
          </li>
      {%- endfor -%}
    </ul>
  </div>
  <div class="ssCard__buttonlayout">
    <a href="{{ section.settings.link }}" class="ssCard__button ssCard__buttoMargin">もっとみる</a>
  </div>
</section>





{% schema %}
    {
    "name": "ssランキング",
     "blocks": [
     ],
     "settings": [
          {
            "type": "range",
            "id": "padding-top",
            "min": 0,
            "max": 200,
            "step": 10,
            "label": "上の余白",
            "default": 0
          },
          {
            "type": "range",
            "id": "padding-bottom",
            "min": 0,
            "max": 200,
            "step": 10,
            "label": "下の余白",
            "default": 0
          },
          {
            "type": "color",
            "id": "background-color",
            "label": "背景色",
            "default": "#F0F1ED"
          },
          {
            "type": "checkbox",
            "id": "rank-number",
            "label": "ランキング順位の表示をする",
            "default": true
          },
          {
            "type": "collection",
            "id": "item-collection",
            "label": "表示対象のコレクション"
          },
          {
                "id": "link",
                "type": "url",
                "label": "リンク"
           }
      ],
     "presets": [
        {
          "name": "ssランキング"
        }
      ]
    }
  {% endschema %}